{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: PageLink:: button -->

  <div class="col-md-12 {{ editable }}">

    {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit show_add_btn=False show_order_btn=False show_sytle_btn=True %}

    <h1 class="fttitle4up-bg">{{ object.title }}</h1>
    {% if object.sub_title %}
    <h2 class="fttitle4up-bg">{{ object.sub_title }}</h2>
    {% endif %}
    {% if object.link_url %}
    <center>
      <div class="og-details og-details-light" style="float: none; width: 320px;">
        <a href="{{ object.link_url }}">{{ object.link_label }}</a>
      </div>
    </center>  
    {% endif %}

  </div>

  {% if object.picture and div %}
  <script type="text/javascript">
    $(function() {
         $('.{{ div }}').css('backgroundImage', 'url({% cropped_thumbnail object "picture_cropping" scale=0.5 %})');
    });
  </script>
  {% endif %}