{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: PageLink:: button -->

  <div class="col-md-12 {{ editable }}">
    {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit show_add_btn=False show_order_btn=False show_sytle_btn=True %}
    {% if object.title %}
      <h1 class="fttitle4up-bg">{{ object.title }}</h1>
    {% endif %}
    {% if object.sub_title %}
      <h2 class="fttitle4up-bg">{{ object.sub_title }}</h2>
    {% endif %}
    {% if object.link_url %}
      <div class="og-details og-details-light">
        <center>
          <a  href="{{ object.link_url }}">{{ object.link_label }}</a>
        </center>
      </div>
    {% endif %}
  </div>

  {% block extrajs %}
    {% if object.picture and div %}
      <script>
        $(function() {
          $(".{{ div }}").css({
              "background": "url({% cropped_thumbnail object 'picture_cropping' scale=1 %}) center center / cover no-repeat fixed",
          });
        });
      </script>
    {% endif %}
  {% endblock %}
