{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: PageLink:: default -->

    <div class="col-md-8 col-md-offset-2 {{ editable }} white">

      {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit show_add_btn=False show_order_btn=False show_sytle_btn=True %}

      <h1>{{ object.title }}</h1>
      {% if object.sub_title %}
      <h2>{{ object.sub_title }}</h2>
      {% endif %}

      {% if object.link_url %}
      <a href="{{ object.link_url }}" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
      {% endif %}

    </div>

    {% if object.picture and div %}
    <script type="text/javascript">
      $(function() {
           $('.{{ div }}').css('backgroundImage', 'url({% cropped_thumbnail object "picture_cropping" scale=0.5 %})');
      });
    </script>
    {% endif %}