{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: EntryContent:: default -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">
          <a href="{% url 'timeline.entrycontent.showpage' widget.pk %}">{{ widget.description }}</a>
        </h1>
      {% endif %}
      {% show_editable_area_tag area.id widget.id can_edit area.name %}
    </header>

    <div class="row">

      {% for object in object_list %}
        <div class="col-md-12 {{ editable }}">
          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}
          <div class="content-item calendar-caption">

            <div class="col-md-4">
              <!-- todo: make a standard url, it should be the same as the calendar: widget.pk -->
              <a href="{% url 'timeline.entrycontent.detail' object.slug object.id %}" title="Get full event details">
                <h4 class="event-metadata" title="{{ object.created|date:'l, d F Y G:i' }}">
                  <span class="event-category badge">{{ object.category }}</span>
                  <div class="text-center">
                    <div class="event-day">{{ object.created|date:"d" }}</div>
                    <small class="event-month">{{ object.created|date:"M" }}</small>
                  </div>
                </h4>
                {% if object.picture %}
                  <figure class="imglist {{ object.picture_filter|default:'no-filter' }}">
                    <img src="{% cropped_thumbnail object 'picture_cropping' max_size='390x260' %}">
                  </figure>
                {% endif %}
              </a>
            </div>
            <div class="col-md-8">
              <div class="event-call">
                <a href="{% url 'timeline.entrycontent.detail' object.slug object.id %}" title="Get full event details">
                  {% if object.title %}
                    <h3>{{ object.title|safe }}</h3>
                  {% endif %}
                  {% if object.content %}
                    <p>{{ object.content|safe|truncatewords:26 }}</p>
                  {% endif %}
                </a>
              </div>
            </div>

          </div> <!-- content-item -->
        </div>
      {% endfor %}
    </div>

</article>
