{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load cropping %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">
  <h1><small>Choose the content for the area:</small> #{{ object.name }}</h1>  
  <div class="row">

    <div class="col-lg-12">
      <form method='post' enctype="multipart/form-data">{% csrf_token %}

        {{ form }}  

        <div class="bottom-fix-menu" align="center">          
          <button type="submit" class="btn btn-lg btn-success">
            <i class="fa fa-check"></i> Save
          </button>
          <a href="{% url 'magiccontent.windows_close' %}?dont_reload=1" class="btn btn-lg btn-danger" role="button" ><i class="fa fa-times"></i> Cancel</a>
        </div>

      </form>
      <hr class="small">
      <h1><small>OR create a <a class="btn btn-default btn-lg" href="{% url 'magiccontent.widget.create' object.id %}">NEW WIDGET</a> </small></h1>    
      <br/><br/><br/><br/>

    </div>

  </div>
</div>

{% endblock %}
