{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load magiccontent_tags %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block pre_content %}
  <div id="helperScreen">
    <p class="py1"></p>

    <figure class="py1 pull-left">
      <img src="{% static 'frontend/themes/default/img/landingpage_areas_arrows.png' %}" alt="landingpage">
    </figure>
    <h1 class="py2"><small>Landingpage areas</small></h1>
    <p class="py3" style="font-size: 18px;">
      The landing page is formed by <strong>6</strong> areas that you can add contents freely, those areas are called <strong>#content-one, #content-two</strong> and so on...<br/>
      Here is where the what's on, gallery or any other content take place!
    </p>
    <p class="py1" style="font-size: 18px;">
      There are also <strong>#dividers</strong> areas for grouping those contents. A divider area is fixed and you can just customize its message and links<br/><br/>
      In total there are 12 content's areas (fixed/not fixed), that's why you can <strong>HIDE/SHOW</strong> areas keeping just what are relevant.
    </p>
    <p class="py1">
      <a id="btn_ok" class="btn btn-lg btn-success disable-help-video" href="#close">Ok, I got it!</a>
    </p>
  </div>
{% endblock pre_content %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">

  <section class="content-one content-padding" id="content-one">
    <div class="container container-padding">
      <div class="row">

        <div class="col-lg-12">
          <center>
            <h1>Landing Page Areas</h1>
            <h2><small>Choose areas that you want to keep visible in your site</small></h2>
          </center>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

        	<table class="table table-hover" style="background-color: #fff;">
		      <tbody>
		      	
			  {% for area in object_list %}
        	  <tr {% if not area.widget.is_content_data %}style="background-color: #EDEDED;"{% endif %}>
                <td>
                  <figure class="py1" style="display:block; position:relative; overflow:hidden; ">
                    <img height="106" src="/static/frontend/magiccontent/img/widgetstyle_{{ area.widget.style_template_verbose|slugify }}.jpg" alt="{{ area.widget.name }}">
                    <figcaption style="position: absolute;background: rgba(0,0,0,0.40);color: white;padding: 6px 10px;top: 80px;"><strong> #{{ area.name }}</strong>
                    </figcaption>
                  </figure>
                </td>
        	    <td style="vertical-align: middle;" >
                <strong>{{ area.widget.name }}<br/></strong>
                <small>{{ area.widget.description }}</small>
                {% if not area.widget.is_content_data %}
                <br/><strong>FIXED</strong>
                {% endif %}
              </td>
        		<td style="vertical-align: middle;" >
                    {% if not area.is_always_visible %}
					<div class="onoffswitch">
					    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{ area.id }}" {% if area.is_visible%}checked{% endif%}>
					    <label class="onoffswitch-label" for="{{ area.id }}">
					        <span class="onoffswitch-inner"></span>
					        <span class="onoffswitch-switch"></span>
					    </label>
					</div>
                    {% endif %}
        		</td>
        	  </tr>
			  {% endfor %}
		      </tbody> 	
        	</table>
            <div class="bottom-fix-menu" align="center">
              <h1>
                <a href="{% url 'magiccontent.windows_close' %}" class="btn btn-lg btn-danger" role="button" >Close</a>
              </h1>
            </div>        	
        </div>

        <div class="col-lg-12">
          <p><br/><br/><br/></p>
        </div>


      </div>
    </div>
  </section>


{% endblock %}


{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function(){

            $( ".bottom-fix-menu" ).hide();
            $( "#btn_ok" ).click(function() {
              $( ".bottom-fix-menu" ).show();
            });
       
            $( ".onoffswitch-checkbox" ).click(function() {
                              
                var self = $(this);
                var area_id = self.attr("id");
                var area_checked = self.is(":checked");

                $.ajax({
                    url: "/magiccontent/api/area/" + area_id + "/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'id': area_id,
                        'is_visible': area_checked
                    },
                    success: function(data, textStatus, jqXHR) {
                        //TODO: do something here...
                    },
                    error: function(data, textStatus, jqXHR) {
                        alert('error updating area');
                    }                    
                });

            });        
        });
    </script>
{% endblock extrajs %}