{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load cropping %}
{% load thumbnail %}

{% block extracss %}
<link href="{% static 'gallery/css/dropzone.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'gallery/css/gallery.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">

    <div class="row">

        <div class="col-sm-2">
          <div class="side-fix-menus">
            <ul class="nav nav-pills nav-stacked" id="nav-elements">
              <li role="presentation" class="active">
                <a href="#" id="goto-title">Title<br/><i class="fa fa-minus"></i></a>
              </li>
              <li role="presentation">
                <a href="#" id="goto-content">Content<br/><i class="fa fa-file-text-o"></i></a></li>
              <li role="presentation">
                <a href="#" id="goto-image">Image<br/><i class="fa fa-image"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-9">

            <h1>{{ object.widget.name }} <small>{{ object.widget.widget_type }}</small></h1>

            <form method='post' enctype="multipart/form-data" id="simpleContentForm" action="{{ request.path }}">{% csrf_token %}

                {{ form }}  

                <div class="bottom-fix-menu" align="center">
                  <h1>
                    {% if object and object.picture %}
                      <input type="submit" class="btn btn-lg btn-success" value="Save" />
                    {% else %}
                      <input type="submit" class="btn btn-lg btn-success" value="Continue" />
                    {% endif %}
                    <a href="{% url 'magiccontent.windows_close' %}?dont_reload=1" class="btn btn-lg btn-danger" role="button" >Cancel</a>
                    {% if object %}
                    <a href="{{ object.delete_url }}" class="btn btn-lg btn-danger del-content" role="button">Delete</a>
                    {% endif %}
                  </h1>
                </div>

                {% if object.picture %}
                  <input type="hidden" value="picture" id="picture_found" />
                {% endif %}

            </form> 

            {% comment %}Gallery Controls should appears only in object update{% endcomment %}
            {% if object %}
            <div class="col-lg-8" style="margin-bottom: 15px" id="galleryControls">
              <a href="#" class="action-upload btn btn-default btn-sm"><i class="fa fa-cloud-download" style="font-size: 26px;"></i><br/>Upload an image</a> <b>OR</b> 
              <a href="#" class="action-gallery btn btn-default btn-sm"><i class="fa fa-image" style="font-size: 26px;"></i><br/>Pick from a gallery</a>
            </div>

            <div class="col-lg-8">
              <form method='post' enctype="multipart/form-data" id="dropzoneForm" class="dropzone"
                action="{% url 'galleries.item.create_by_gallery' default_gallery.pk %}?return_id=1"
                style="border: 3px dashed rgba(144,144,144,.99); display:none;">
                {% csrf_token %}
                <center>
                  <img src="{% static 'frontend/themes/sydney/img/dragndrop-image.png' %}" class="my1 py2">
                  <h3>Drag an image here</h3>                  
                </center>

                <input type="file" name="picture" style="display: none;" form="dropzoneForm" />

              </form>
            </div>

            <div id="galleryChoice">
              {% regroup all_images by gallery as gallery_list %}

              {% for gallery_item in gallery_list %}
              <div>
                <h3>{{ gallery_item.grouper }} <small>Click for apply the image</small></h3>
                <ul>
                  {% for item in gallery_item.list %}
                    <li class="img-effects img-effects-darker clearfix">                  
                      <figure>
                        <img src="{% thumbnail item.picture 142x96 crop %}">
                        <div class="mouseenter">
                          <a href="#" class="apply-img" data-img-choice-id="{{ item.pk }}"><i class="fa fa-check-square-o"></i></a>
                        </div>
                      </figure>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
            {% endif %}

            <span><br/><br/><br/><br/><br/><br/></span>

        </div>
    </div>
</div>

{% endblock %}


{% block extrajs %}
  <script type="text/javascript" src="{% static 'gallery/dropzone.js' %}"></script>
  <script type="text/javascript">

     ajaxSubmit = function(){
         var form = $('#simpleContentForm');
         var formData = form.serialize();
         $.ajax({
          url: form.attr('action'),
          type: 'POST',
          data: formData,
          success: function(response){
            var redirectTo = form.attr('action') + '#galleryControls';
            console.log(redirectTo);
            window.location.href = redirectTo;
            window.location.reload(true);
          }
        });       
      };


    Dropzone.options.dropzoneForm = {
      paramName: 'picture',
      acceptedFiles: 'image/*',
      maxFiles: 1,
      init: function() {
        this.on("success", function(picture, response){
          $('#id_picture').attr('value', response);
          if (response.length < 200){
            ajaxSubmit();
          }else{
            alert("invalid file, it wasn't uploaded");
          }
        });
      }
    };

    $(function(){
      // hide default django form widget (cant do in back-end)
      $('#lookup_id_picture').closest('.form-group').hide();

      $('.action-upload').on('click', function(evt){
        evt.preventDefault();
        $('#galleryChoice').hide();
        $('#dropzoneForm').fadeIn();
      });

      $('.action-gallery').on('click', function(evt){
        evt.preventDefault();
        $('#dropzoneForm').hide();
        $('#galleryChoice').fadeIn();
      });

      $('.apply-img').on('click', function(evt){
        evt.preventDefault();
        var self = $(this);
        self.css('border-color', 'green');
        $('#id_picture').attr('value', self.attr('data-img-choice-id'));
        ajaxSubmit();
      });

    });

    // hide the picture filters when there is no picture
    $(document).ready(function(){
      $("#id_picture_filter").hide();
      if ( ! $('#picture_found').val() ) {
        $("label[for='id_picture_filter']").hide();
      } else {        
        $("label[for='id_picture_filter']").on('click', function(evt){
          evt.preventDefault();
          $("#id_picture_filter").toggle();
        });
      }

      // handle the mouseenter functionality
      $(".img-effects > figure")
        .mouseenter(function(){
          $(this).addClass("hover");})
        .mouseleave(function(){
          $(this).removeClass("hover");
      });

      // confirm content deletation
      $('a.del-content').on('click', function(evt){
        evt.preventDefault();
        var deleteIt = confirm('are you sure that you want to delete this item?');
        if (deleteIt == true){
          window.location.href = $(this).attr('href');
        }

      });

      $('#nav-elements a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $("#goto-title").on('click', function(evt){
        evt.preventDefault();
        $('html,body').animate({scrollTop: $("label[for='id_title']").offset().top});
      });
      $("#goto-content").on('click', function(evt){
        evt.preventDefault();
        if ( $( "#id_long_content" ).length ) {
          $('html,body').animate({scrollTop: $("label[for='id_long_content']").offset().top});
        } else {
          $('html,body').animate({scrollTop: $("label[for='id_short_content']").offset().top});
        }
      });
      $("#goto-image").on('click', function(evt){
        evt.preventDefault();
        
        if ( $( "#id_icon" ).length ) {
          $('html,body').animate({scrollTop: $("label[for='id_icon']").offset().top});
        } else {
          $('html,body').animate({scrollTop: $("label[for='id_picture_cropping']").offset().top});
        }
      });

    });

  </script>

{% endblock extrajs %}
