{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load cropping %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">
  <h1><small>Create a new <b>Group of Contents</b></small></h1>
  <div class="row">

    <div class="col-lg-12">

      <form method='post' enctype="multipart/form-data">{% csrf_token %}

        {{ form }}

        <div class="bottom-fix-menu" align="center">
          <button type="submit" class="btn btn-lg btn-success">
            <i class="fa fa-check"></i> Save
          </button>

          <a href="{% url 'magiccontent.windows_close' %}?dont_reload=1" class="btn btn-lg btn-danger" role="button" ><i class="fa fa-times"></i> Cancel</a>
        </div>

      </form>

      <p>
        <br/><br/><br/><br/>
      </p>

    </div>
  </div>
</div>

{% endblock %}


{% block extrajs %}
    <script type="text/javascript">

        $(document).ready(function(){
          
          $('#id_widget_type').hide();
          $("label[for='id_widget_type']").hide();

          //shortcuts 
          $('#id_name').keydown(function(event) {
              if ((event.keyCode == 13) || ($("#id_name").val().length > 1))  {
                $('#id_widget_type').show();
                $("label[for='id_widget_type']").show();
                if (event.keyCode == 13) {
                    $('#id_widget_type').focus()
                    return false;
                }
              }
          });

        });
    </script>
{% endblock extrajs %}