{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load cropping %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">
  <h1>Adding a new widget</h1>
  <div class="row">

    <div class="col-lg-12">

      <form method='post' enctype="multipart/form-data">{% csrf_token %}

        {{ form }}

        <div class="bottom-fix-menu" align="center">
          <h1>NEW WIDGET
            <input type="submit" class="btn btn-lg btn-success" value="Save" />
            <a href="{% url 'magiccontent.windows_close' %}" class="btn btn-lg btn-danger" role="button" >Cancel</a>
          </h1>
        </div>

      </form>

      <p>
        <br/><br/><br/><br/>
      </p>

    </div>
  </div>
</div>

{% endblock %}
