{% if can_edit %}
  <div class="edit-block-controls edit-popup">
      <a title="Edit this content" href="{{ update_url }}" class="edit-block-edit" data-video-url="{{ help_edit_url }}" data-video-description="{{ help_edit_description }}" data-show-screen="{{ help_edit_show }}" data-screen-flag="{{ help_edit_flag }}"><i class="fa fa-pencil"></i></a>
      {% if create_url %}
        <a title="Add a new content" href="{{ create_url }}" class="edit-block-add" data-video-url="{{ help_add_url }}" data-video-description="{{ help_add_description }}" data-show-screen="{{ help_add_show }}" data-screen-flag="{{ help_add_flag }}"><i class="fa fa-plus"></i></a>
      {% endif %}
      {% if order_url %}
        <a title="Change contents' ordering" href="{{ order_url }}"><i class="fa fa-sort-alpha-asc"></i></a>
      {% endif %}
      {% if style_url %}
        <a title="Edit the widget style" href="{{ style_url }}" class="edit-block-style"><i class="fa fa-paint-brush"></i></a>
      {% endif %}
  </div>
{% endif %}