{% extends 'magiccontent/base_magiccontent.html' %}

{% load staticfiles %}
{% load floppyforms %}
{% load cropping %}

{% block js_top %}
    <!-- # django-floppyforms -->
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block footer_area %}
{% endblock footer_area %}

{% block content %}

<div class="popup-content">
    <h1><i class="fa fa-star-half-o"></i> {{ object.widget_type|title }} style</h1>
    <h1><small>Select one that most fit your content</small></h1>
    <div class="row">

        <div class="col-lg-12">

            <form method='post' enctype="multipart/form-data">{% csrf_token %}

                {{ form }}  

                <div class="bottom-fix-menu" align="center">
                  <h1>{{ object.name }}
                    <input type="submit" class="btn btn-lg btn-success" value="Save" />
                    <a href="{% url 'magiccontent.windows_close' %}?dont_reload=1" class="btn btn-lg btn-danger" role="button" >Cancel</a>
                  </h1>
                </div>

            </form>

            <p>&nbsp;</p>
            <span><br/><br/><br/><br/></span>

            {% if not object.can_edit_description %}
              <script type="text/javascript">
                $(function() {
                  $( "label[for='id_description']").hide();
                  $( "#id_description" ).hide();
                });
              </script>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
