{% load static %}
{% load flexcontent_tags %}
<!-- widget: EntryContent:: default_page -->

  <section class="content-one content-padding" id="content-one">

    <div class="container container-padding">
      <div class="row">

        <div class="col-xs-12">
          <center>
            <h1>{{ widget.description }}</h1>
          </center>
        </div>

        <div class="col-xs-1"></div>
        <div class="col-xs-8" style="background-color: white; padding: 20px;">

          {% for content in object_list %}
            <div class="col-xs-12 {% if can_edit %} darkBorder edit-block{% endif %}">
              
              {% show_editable_widget_tag widget.widget_type widget.id content.id can_edit %}

              <h4>
                <a href="{{ content.get_entry_url }}"><strong>{{ content.title |safe }}</strong></a>
              </h4>
              <p><strong>{{ content.created }}</strong> by <strong>{{ content.entry_author }}</strong></p>
            </div>
          {% endfor %}

        </div>

        <div class="col-xs-3">
          <p>
            <a href="{% url 'core.landingpage' %}" class="btn-3d">Home</a>
          </p>
        </div>

      </div>

    </div>
  </section>


