{% load static %}
{% load flexcontent_tags %}
<!-- widget: EntryContent:: default_page -->

<article class="col-md-12">

    <header>
      <h1 class="decorator">News</h1>
    </header>

    <div class="row">
      <div class="col-md-12">
        <ul id="timelinePage">

          {% for object in object_list %}

            <li {% if can_edit %}class="{{ editable }}"{% endif %}>
              <div class="timeline-widget">

                {% if can_edit %}
                {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}
                {% endif %}
              
                <a href="{{ object.get_entry_url }}">
                    <span class="title">{{ object.title }}</span> <br>
                    By <span class="author">{{ object.author }}</span>
                </a>
              </div>
            </li>

          {% endfor %}

        </ul>
      </div>
    </div>

</article>
