{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: BackgroundArea:: default - style4 -->

  <div class="container {{ editable }}">

    <div class="half">

    {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit show_add_btn=False show_order_btn=False show_sytle_btn=True %}

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center header-inner">
        <h1 class="animated fadeInDown" style="font-size: 52px;">{{ object.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        
        {% if object.link1_label %}
          <a href="{{ object.link1_url }}" class="btn-3d">{{ object.link1_label }}</a>
          <br/><br/>
        {% else %}
          <h2 class="ft4base-bg">{{ object.sub_title }}</h2>
          <br/>
        {% endif %}

        <p>
          <a id="scrolldown-indicator" class="fadeOutDown" href="#intro" class="down-arrow-btn">
            <i class="fa fa-chevron-down" style="font-size: 36px;"></i>
          </a>
        </p>
      </div>
    </div>

    </div>

  </div>


{% if object.picture %}
<script type="text/javascript">
  $(function() {
       $('.{{ div }}').css('backgroundImage', 'url({% cropped_thumbnail object "picture_cropping" scale=0.5 %})');
  });
</script>
{% endif %}
