{% load static %}
{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: BackgroundArea:: default - style3 -->

  <div class="container {{ editable }}">

    {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit show_add_btn=False show_order_btn=False show_sytle_btn=True %}

    <!--
    <div class="row">
      <div class="col-md-12 text-right navicon">
        <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center ">
        <h1 class="animated fadeInDown" style="font-size: 48px;">
          {% block sitename %}
            <span>{{ object.title }}</span>
          {% endblock sitename %}
        </h1>
        {% if object.sub_title %}
        <p class="animated fadeInUp delay-05s" style="color: #fff;font-size: 32px;">{{ object.sub_title }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        
        {% if object.link1_label %}
          <center>
	          <div class="og-details" style="float: none; width: 320px;">
	            <a href="{{ object.link1_url }}">{{ object.link1_label }}</a>
	          </div>          	
          </center>
          <br/>
        {% endif %}

        <br/><p>{{ object.content }}</p>
        <p>
          <a id="scrolldown-indicator" class="fadeOutDown" href="#intro" class="down-arrow-btn">
            <i class="fa fa-chevron-down fttitle4down-bg" style="font-size: 32px;"></i>
          </a>
        </p>
      </div>
    </div>
  </div>


{% if object.picture %}
<script type="text/javascript">
  $(function() {
       $('.{{ div }}').css('backgroundImage', 'url({% cropped_thumbnail object "picture_cropping" scale=0.5 %})');
       $('.{{ div }}').css('height', 440);
       $('.{{ div }}').css('padding-top', 74);
  });
</script>
{% endif %}
