{% load cropping %}
{% load magiccontent_tags %}
<!-- widget: SimpleContent:: slide_by_1 -->

{% block slider %}
<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}
      
      {% show_editable_area_tag area.id widget.id can_edit area.name %}

    </header>

    <div class="flexslider base-bg" style="border:none;">
      <ul class="slides">
        {% for object in object_list %}

          <li class="{{ editable }}">

            {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

            {% if object.picture %}
            <div style="width: 28%;position: inherit;margin-left: auto;margin-right: auto;">
              <figure class="{{ object.picture_filter }}">
                <img src="{% cropped_thumbnail object 'picture_cropping' scale=0.5 %}">
              </figure>
            </div>
            {% endif %}

            <p style="text-align: center;font-size: 2.4rem;line-height: 30px;">{{ object.title }}</p>
            <p style="text-align: center;font-size: 1rem;line-height: 20px;">{{ object.content }}</p>
          </li>

        {% endfor %}
      </ul>
    </div>

</article>
{% endblock slider %}

{% block slider_js %}
  <script type="text/javascript">
    $(function() {
      $('.flexslider').flexslider();
    });
  </script>
{% endblock slider_js %}