{% load thumbnail %}
{% load flexcontent_tags %}
<!-- widget: ImageContent:: caption1 -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
      <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}

    </header>

    <div class="row">
      {% for object in object_list %}

        <div class="col-md-4 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}


          <div class="overlay-effect effects clearfix">
            <div class="img ">
              <img src="{% thumbnail object.picture.picture 300x300 crop %}" alt="{{ object.title |safe }}" draggable="false">
              <div class="overlay">
                <a href="#" class="expand"><i class="fa fa-search"></i></a>
                <a class="close-overlay hidden">x</a>
              </div>
            </div>
            <h2>{{ object.title |safe }}</h2>
          </div>

        </div>

      {% endfor %}      
    </div>

</article>
