{% load static %}
{% load flexcontent_tags %}
{% load cropping %}
<!-- widget: ImageContent:: caption1 -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
      <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}

    </header>

    <div class="row">
      {% for object in object_list %}

        <div class="col-md-12 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="row">

            <div class="col-md-4">
    			   <a class="caption caption-1" href="{{ object.link_url }}" data-title="" data-description="">
              {% if object.picture %}
              <img src="{% cropped_thumbnail object 'picture_cropping' scale=0.5 %}" alt="{{ object.title |safe }}"/>
              {% else %}
              <img width="280" src="{% static 'frontend/themes/sydney/img/dragndrop-image.png' %}"/>
              {% endif %}
    			   </a>
            </div>
            <div class="col-md-8">
              <div class="caption caption-1" style="text-align: left;">
                <h2 style="font-size: 36px;">{{ object.title |safe }}</h2>
                <h3 style="font-size: 22px; padding-top: 26px;">{{ object.content }}</h3>
              </div>
            </div>

          </div>

        </div>

      {% endfor %}      
    </div>

</article>