{% load thumbnail %}
{% load flexcontent_tags %}
<!-- widget: ImageContent:: caption1 -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
      <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}

    </header>

    <div class="row">
      {% for object in object_list %}

        <div class="col-md-12 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="row">

            <div class="col-md-4">
    			   <a class="caption caption-1" href="{{ object.link_url }}" data-title="" data-description="">
    			     <img src="{% thumbnail object.picture.picture 300x300 crop %}" alt="{{ object.title |safe }}"/>
    			   </a>
            </div>
            <div class="col-md-8">
              <div style="text-align: left;">
                <h2>{{ object.title |safe }}</h2>
                <h3>{{ object.content }}</h3>                
              </div>
            </div>

          </div>
          
          
          <!--
          <div class="content-item" style="text-align: left;">


          </div>  content-item -->

        </div>

      {% endfor %}      
    </div>

</article>