{% load magiccontent_tags %}
<!-- widget: IconContent:: bigicons -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}
    </header>

    <div class="row margin-big">
      {% for object in object_list %}

        <div class="col-md-4 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="content-item light-box box-hover">
            {% if object.link_url %}<a href="{{ object.link_url }}">{% endif %}
            <h2>
              <i class="fa {{ object.icon }} iconfont-lg"></i>
              {% if object.link_label %}
                  <span>{{ object.link_label }}</span>
              {% else %}
                {% if object.title %}
                  <span>{{ object.title }}</span>
                {% endif %}
              {% endif %}
            </h2>
            {% if object.link_url %}</a>{% endif %}
            <p>{{ object.content }}</p>
          </div> <!-- content-item -->       

        </div>

      {% endfor %}      
    </div>

</article>