{% load magiccontent_tags %}
<!-- widget: IconContent:: circledicons.html -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}
    </header>

    <div class="row margin-big">
      {% for object in object_list %}

        <div class="col-md-4 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="content-item">
            <center>
              {% if object.link_url %}<a href="{{ object.link_url }}">{% endif %}
                <div class="icon-circle-lg up-bg ft4up-bg">
                    <i class="fa {{ object.icon }}"></i>
                </div>
                {% if object.link_label %}
                  <h2 class="fttitle4base-bg">{{ object.link_label }}</h2>
                {% else %}
                  {% if object.title %}
                    <h2 class="fttitle4base-bg">{{ object.title }}</h2>
                  {% endif %}
                {% endif %}
              {% if object.link_url %}</a>{% endif %}
              <p>{{ object.content }}</p>
            </center>
            
          </div> <!-- content-item -->       

        </div>

      {% endfor %}      
    </div>

</article>