{% load cropping %}
{% load flexcontent_tags %}
<!-- widget: SimpleContent:: imageright -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}

      {% show_editable_area_tag area.id widget.id can_edit area.name %}
      
    </header>

    <div class="row">

        <div class="col-md-12 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="content-item">

            <div class="row">
                <div class="col-md-12">

                    <p></p>
                    {% if object.title %}
                    <h2><strong>{{ object.title |safe }}</strong></h2>
                    {% endif %}
                    {% if object.sub_title %}
                    <h2><strong>{{ object.sub_title }}</strong></h2>
                    {% endif %}
                    <p>{{ object.content |safe }}</p>

                    {% if object.link_label %}
                      <p><a href="{{ object.link_url }}" class="btn-3d">{{ object.link_label }}</a></p>
                    {% endif %}

                </div>

                <div class="col-md-12">
                    {% if object.picture %}
                      <figure class="{{ object.picture_filter }}">
                          <img width="360" src="{% cropped_thumbnail object 'picture_cropping' scale=0.5 %}">
                      </figure>
                    {% endif %}
                </div>             
            </div>

          </div> <!-- content-item -->

        </div>

    </div>

</article>

<script type="text/javascript">
  $(function() {
       $('#{{ div }}').css('padding-top', '0');
       $('#{{ div }}').css('padding-bottom', '0');
  });
</script>
