{% load cropping %}
{% load flexcontent_tags %}
<!-- widget: SimpleContent:: list4 -->

<article class="col-md-12">

    <header>
      {% if widget.description %}
        <h1 class="decorator">{{ widget.description }}</h1>
      {% endif %}
      
      {% show_editable_area_tag area.id widget.id can_edit area.name %}

    </header>

    <div class="row">
      {% for object in object_list %}

        <div class="col-md-3 {{ editable }}">

          {% show_editable_widget_tag widget.widget_type widget.id object.id can_edit %}

          <div class="content-item">
            {% if object.picture %}
              <figure class="imglist {{ object.picture_filter }}">
                  <img src="{% cropped_thumbnail object 'picture_cropping' scale=0.5 %}">
              </figure>
            {% endif %}

            {% if object.title %}
            <h2>{{ object.title |safe }}</h2>
            {% endif %}
            {% if object.sub_title %}
            <h3><strong>{{ object.sub_title }}</strong></h3>
            {% endif %}
            <p>{{ object.content |safe }}</p>

            {% if object.link_label %}
              <p><a href="{{ object.link_url }}" class="btn-3d">{{ object.link_label }}</a></p>
            {% endif %}
            
          </div> <!-- content-item -->

        </div>

        {% if forloop.counter|divisibleby:4 %}
          <div class="clearfix visible-lg-block"></div>
        {% endif %}

      {% endfor %}      
    </div>

</article>